<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Thêm quyền cho Internet và mạng -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Thêm quyền cho Firebase, Google Play Services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DOANCUOIKY"
        tools:targetApi="31">

        <!-- Các Activity của ứng dụng -->
        <activity
            android:name=".Activity.Cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailEachFood.DetailEachFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ItemsList.ItemsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Dashboard.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DOANCUOIKY" />
        <activity
            android:name=".Activity.Auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Profile.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Order.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Auth.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Favourite.FavouriteActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Admin.User.UserActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Admin.Order.OrderAdActivity"
            android:exported="true" />
    </application>

</manifest>
